
# Ignorar entornos virtuales de Python en cualquier ubicación
venv/
.env/
env/
*.env

# Ignorar archivos de compilación de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Ignorar configuraciones y archivos de cache de IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignorar archivos de logs y registros de depuración
*.log
*.log.*
logs/
debug.log

# Ignorar archivos de bases de datos y datos temporales
*.sqlite3
*.db
*.db-journal
*.dat
*.bak

# Ignorar archivos generados por sistemas operativos
.DS_Store
Thumbs.db
